div.UserFrame {
  display: flex;
  flex-direction: row;
}
div.userpage {
  margin: 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* 프로필 화면 상단 */
div.ProfileArea {
  width: 100%;
  display: flex;
}
div.PrImgArea {
  width: 30%;
}
div.PrImgArea img {
  width: 100%;
  border: 1px solid #f80;
  border-radius: 10px;
}
div.InfoArea {
  margin-left: 10%;
  flex: 1;
}
div.FirstLayer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}
div.SecondLayer {
  display: flex;
  justify-content: space-between;
}
div.ThirdLayer div.userName {
  text-align: left;
}

/*프로필 화면 하단*/
div.viewChoiceBtn_view {
  margin: 10px;
  height: 50px;
  display: flex;
  flex-direction: column;
}

div.BtnAreaChoice {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

button.choice {
  width: 50%;
  margin: 1%;
  cursor: pointer;
  display: inline-block;
}
button.choice :hover {
  background-color: rgba(0, 0, 0, 0.3);
}
img.Btnicon {
  width: 20%;
}

div.ViewChoiceArea {
  top: 70px;
  position: relative;
}

div#rightAside {
  width: 30%;
}

@media screen and (max-width: 320px) {
  div#rightAside {
    display: none;
    margin: 0;
    padding: 0;
  }
  div.UserFrame {
    width: 100%;
  }
  div.userpage {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
