@charset "UTF-8";
@import url(style_Reset.css);

div#wrap {
  width: 100%;
  /*   border: 4px solid #aaa; */
  height: 1000px;
  background-color: #4c5158;
}

/* 	<!-- 헤더 작업 시작--> */
div#header {
  top: 0;
  position: sticky;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  background-color: #2d3f50;
  padding-left: 50px;
}
div#Logo {
  /* 	border: 1px solid #f80 ; */
  width: 80px;
  height: 100%;
  margin: 10px;
}
div#Logo > img {
  width: 100%;
  transform: translateY(-8px);
  height: 60px;
  display: block;
  /* 	background-color: #2D3F50; */
}

div#gnbArea {
  display: flex;
  flex: 1;
}
div.gnbs {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50px;
  border: 1px solid #aaa;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 50px;
}
div.gnbs > span {
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}
form#smartSearch {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#searchArea {
  box-sizing: border-box;
}
input#search {
  width: 220px;
  height: 35px;
  background-image: url(/public/images/dodbogi.png);
  background-repeat: no-repeat;
  background-size: 45px;
  background-position-x: 170px;
  border-style: none;
}
/* 	<!-- 헤더 작업  끝 --> */

/* 메인뷰 전체 틀 잡아주는 작업 시작 */
div#Mainview {
  display: flex;
  /* 	background-color: #4C5158; */
}

/* 메인뷰 전체 틀 잡아주는 작업 끝 */

/* 	<!-- 왼쪽 바 작업  시작 --> */
div#leftSlidebar {
  top: 70px;
  position: fixed;
  width: 156px;
  height: 60%;
  max-width: 296px;
  flex: 0 0 296px;
  background-color: #e2e6e9;
  align-self: flex-start;
  box-sizing: border-box;
}
div#userimage {
  margin: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
div#userimage > img {
  /*유저 사진*/
  border: 1px solid #f80;
  border-radius: 80px;
  width: 110px;
  height: 110px;
  margin-top: 10px;
  margin-left: 25px;
}
div#frame2 {
  width: 100%;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
div#nameLabel {
  margin-left: 8px;
  border: 1px solid #aaa;
  width: 140px;
  border-radius: 5px;
}

div#postFollowframe {
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}

div.smallP_F {
  margin: 0 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 60px;
  display: flex;
  flex-direction: column;
}
span.title {
  font-size: 14px;
  font-weight: bold;
}
span.content {
  font-size: 12px;
}

div#myFagebtnArea button {
  border: 1px solid #aaa;
  width: 140px;
  border-radius: 5px;
  cursor: pointer;
}
/* 	<!-- 왼쪽 바 작업  끝 --> */

/* 	<!-- 오른쪽 콘텐츠들 작업 시작 --> */
div#right {
  display: flex;
  flex: 1;
  margin-left: 156px;
  padding: 20px;
  box-sizing: borde-box;
}
div#PostviewArea {
  flex: 7;
  border: 1px solid #aaa;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}
div.PParea {
  margin: 5px;
  flex: 1;
  border: 1px solid #aaa;
  background-color: #e2e6e9;
  border-radius: 10px;
}

div.PTarea {
  margin: 5px;
  flex: 1;
  border: 1px solid #aaa;
  background-color: #e2e6e9;
  border-radius: 10px;
}

div#rsideBar {
  flex: 3;
  margin-left: 20px;
  border: 1px solid #aaa;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}
form#uploadArea {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
form#uploadArea textarea {
  margin: 0 10px;
  padding: 10px;
  /* text-align: center;*/
  width: 300px;
  height: 200px;
}
div#frame3 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

div#rsideBar img {
  margin-top: 2px;
  margin-left: 4px;
  width: 50px;
  height: 50px;
  border: 1px solid #f80;
  border-radius: 50px;
  background-color: #4c5158;
  cursor: pointer;
}

div.PhotoinputArea > button {
  cursor: pointer;
  border: 1px solid #f80;
  background-color: #4c5158;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
div.PhotoinputArea > button :hover {
  background-color: #fff;
}
/* 	<!-- 오른쪽 콘텐츠들 작업  끝 --> */
