@charset "UTF-8";
@import url(style_Reset.css);

div#wrap {
  width: 100%;
  display: flex;
  margin: 10px auto;
}

div#left {
  flex: 2 !important;
  /* border: 1px solid #aaa; */
  margin-left: 10px;
}

div#right {
  flex: 8;
  border: 1px solid #aaa;
  margin-right: 10px;
}
div#head {
  position: sticky;
  top: 0;
}
