.DetailFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 80vh;
  margin: 10px;
  background-color: #f8f9fa;
  border: 1px solid #000;
}

.DetailItem {
  width: 100%;
  height: 80vh;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
}

.DetailImgArea {
  width: 50%;
  position: relative;
  border: 1px solid #000;
}

.DetailImgArea img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.DetailImgArea .date {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.DetailRight {
  flex: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.detailContentArea {
  margin-bottom: 20px;
}

.heartAuthorArea {
  display: flex;
  justify-content: space-between;
}

.detailContentArea .up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.heartfollowBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#followBtn{
  border-radius: 5px;
  border: 1px solid #000;
  cursor: pointer;
}

.detailContentArea .likes {
  font-size: 14px;
  color: #888;
}

.followLikeArea {
  display: flex;
  flex-direction: column;
}

.detailContentArea .content {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
  color: #333;
}

.CommentArea {
  display: flex;
  margin-top: 20px;
  border-top: 1px solid #e6e6e6;
  padding-top: 10px;
}

.CommentInputArea {
  flex: 1;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-size: 14px;
}

button.comentPush {
  margin-left: 10px;
  padding: 10px 15px;
  border: 1px solid #f80;
  background-color: #2d3f50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.CommentsList {
  margin-top: 20px;
}

.CommentItem {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.CommentContent {
  margin-bottom: 10px;
}

.Replies {
  margin-left: 20px;
}

.ReplyItem {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.ReplyInput {
  margin-top: 10px;
}

.ReplyInput input {
  width: 90%;
  padding: 5px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-size: 14px;
}
