/* 오른쪽 알람 작업 시작 */
div.arlamModalArea {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
div.alarmModalArea.open {
  display: flex;
}

div.AlarmContet {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
}
div.alarm-item {
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
}

div.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
/* 알람모달 작업 끝 */